<div
  class="row events">
  <div class="time col-xs-2"></div>
  <div class="col-xs-12">
    <h3>{{plan.description}}</h3>
    <div class="chat-people">
      <div class="chat-person" ng-repeat="person in plan.people|trueKeys">
        {{person}}<span ng-if="!$last">,</span>&nbsp;
      </div>
      <a ng-href="addfriends">+ add friends</a>
    </div>
    <div class="chat-window">
      <div ng-repeat="message in plan.chat">
        <div>
          <span class="chat-sender">{{message.sender}}:</span>
          {{message.body}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-inputs">
  <input type="text" ng-model="name" placeholder="Name">
  <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
  <button ng-click="addMessage($event)">send</button>
</div>
