<div class="today-selector">
  <a ng-href="/#/{{prevDate}}">
    <div class="glyphicon glyphicon-chevron-left"></div>
  </a>
  <h4>{{date}}</h4>
  <a ng-href="/#/{{nextDate}}">
    <div class="glyphicon glyphicon-chevron-right"></div>
  </a>
</div>

<div ng-show="empty">
  <div class="time col-xs-4 col-xs-offset-4" style="text-align: center;">No plans for today!</div>
</div>

<div
  class="row events"
  ng-repeat="timeslot in plans">
  <div class="time col-xs-2">{{timeslot.time}}</div>
  <div class="col-xs-10">
    <table class="table">
      <div ng-repeat="plan in timeslot.plans">
        <a ng-href="{{plan.link}}">
          <div class="plan-wrapper">
            <div class="plan-name">{{plan.description}}</div>
            <div class="people">{{plan.people[0]}}</div>
          </div>
        </a>
      </div>
    </table>
  </div>
</div>
