<div class="row events">
  <div class="time col-xs-2">3pm</div>
  <div class="col-xs-10">
    <table class="table">
      <tr class="owned"><td>Gym</td><td class="people">Me</td></tr>
    </table>
  </div>
</div>
<div class="row events">
  <div class="time col-xs-2">4pm</div>
  <div class="col-xs-10">
    <table class="table">
      <tr><td>Lunch at Cabot</td><td class="people">Jared</td></tr>
      <tr class="owned"><td>Basketball</td><td class="people">Me</td></tr>
    </table>
  </div>
</div>
<div class="row events">
  <div class="time col-xs-2">later</div>
  <div class="col-xs-10">
    <table class="table">
      <tr><td>Basketball</td><td class="people">Jeff</td></tr>
    </table>
  </div>
</div>
</div>
