<div class="row form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="add-label">date</span><input></input>
  </div>
</div>

<div class="row form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="add-label">time</span><input></input>
  </div>
</div>

<div class="row form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="add-label">location</span><input></input>
  </div>
</div>

<div class="row form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="add-label">description</span><input></input>
  </div>
</div>

<div class="row form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="add-label">anytime?</span><input type="checkbox"></input>
  </div>
</div>

<div class="row form-row">
  <div class="col-xs-2 col-xs-offset-5">
    <a href="/#/addfriends"><button type="submit">next</button></a>
  </div>
</div>
